@media screen and (max-width: 400px) {
    /* Estilos para pantallas con ancho máximo de 400px */
        ion-card{
            font-size: 14px;
            background-color: rgb(255, 0, 0);
            height: 100%;
        }
    }